In [1]:
import pandas as pd
import numpy as np
import csv

In [12]:
stations = pd.read_csv("Data/station.csv")
status = pd.read_csv("Data/status.csv")
trip = pd.read_csv("Data/trip.csv")
weather = pd.read_csv("Data/weather.csv")

## EDA

In [13]:
stations.head(5)

,id,name,lat,long,dock_count,city,installation_date
0,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013
1,3,San Jose Civic Center,37.330698,-121.888979,15,San Jose,8/5/2013
2,4,Santa Clara at Almaden,37.333988,-121.894902,11,San Jose,8/6/2013
3,5,Adobe on Almaden,37.331415,-121.893200,19,San Jose,8/5/2013
4,6,San Pedro Square,37.336721,-121.894074,15,San Jose,8/7/2013

Stations table has 7 fields with station information - location (lat, long, city), dock count and installation date are the main columns.

In [14]:
status.head(5)

   station_id  bikes_available  docks_available                 time
0           2                2               25  2013/08/29 12:06:01
1           2                2               25  2013/08/29 12:07:01
2           2                2               25  2013/08/29 12:08:01
3           2                2               25  2013/08/29 12:09:01
4           2                2               25  2013/08/29 12:10:01

Status table has 4 columns with info of number of bikes available at a station for a given time. Further, looks like it is updated every minute.

In [15]:
trip.head(5)

,id,duration,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_id,subscription_type,zip_code
0,4576,63,8/29/2013 14:13,South Van Ness at Market,66,8/29/2013 14:14,South Van Ness at Market,66,520,Subscriber,94127
1,4607,70,8/29/2013 14:42,San Jose City Hall,10,8/29/2013 14:43,San Jose City Hall,10,661,Subscriber,95138
2,4130,71,8/29/2013 10:16,Mountain View City Hall,27,8/29/2013 10:17,Mountain View City Hall,27,48,Subscriber,97214
3,4251,77,8/29/2013 11:29,San Jose City Hall,10,8/29/2013 11:30,San Jose City Hall,10,26,Subscriber,95060
4,4299,83,8/29/2013 12:02,South Van Ness at Market,66,8/29/2013 12:04,Market at 10th,67,319,Subscriber,94103

Trip table has 11 fields with trip info - start and stop info, what time and which station, subscriber type, bike id.

In [17]:
weather.head(5)

,date,max_temperature_f,mean_temperature_f,min_temperature_f,max_dew_point_f,mean_dew_point_f,min_dew_point_f,max_humidity,mean_humidity,min_humidity,...,mean_visibility_miles,min_visibility_miles,max_wind_Speed_mph,mean_wind_speed_mph,max_gust_speed_mph,precipitation_inches,cloud_cover,events,wind_dir_degrees,zip_code
0,8/29/2013,74.0,68.0,61.0,61.0,58.0,56.0,93.0,75.0,57.0,...,10.0,10.0,23.0,11.0,28.0,0,4.0,NaN,286.0,94107
1,8/30/2013,78.0,69.0,60.0,61.0,58.0,56.0,90.0,70.0,50.0,...,10.0,7.0,29.0,13.0,35.0,0,2.0,NaN,291.0,94107
2,8/31/2013,71.0,64.0,57.0,57.0,56.0,54.0,93.0,75.0,57.0,...,10.0,10.0,26.0,15.0,31.0,0,4.0,NaN,284.0,94107
3,9/1/2013,74.0,66.0,58.0,60.0,56.0,53.0,87.0,68.0,49.0,...,10.0,10.0,25.0,13.0,29.0,0,4.0,NaN,284.0,94107
4,9/2/2013,75.0,69.0,62.0,61.0,60.0,58.0,93.0,77.0,61.0,...,10.0,6.0,23.0,12.0,30.0,0,6.0,NaN,277.0,94107

Weather info - min/max temperature, dew point and humidity.

## Possible analyses:

Time series based predictions:
- Predict number of trips per station/day. Further can be extended to show demand vs supply at these stations.
- Predict travel time for station/day. Is the current pricing strategy which is maximum usage of 30 minutes apt?

Clustering:
- Cluster stations. What are the primary traits common to stations in one cluster? This gives us factors that stand out - demand? location? number of docks? installation date? travel time?

Recommendation based:
- Recommend locations where new stations can be installed based on current supply/demand. (Prediction component not necessarily required)